databases:
  - name: mysite
    plan: free
    databaseName: mysite
    user: mysite

services:
  - type: web
    name: mysite
    plan: free
    env: python
    buildCommand: ".src/pokemon_api/build.sh"
    startCommand: "gunicorn src.pokemon_api.pokemon_api.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysite
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 2
      - key: DJANGO_SUPERUSER_PASSWORD
        generateValue: true