databases:
  - name: api_db
    plan: free
    databaseName: api_db
    user: api_db

services:
  - type: web
    name: api
    plan: free
    env: python
    buildCommand: ".src/pokemon_api/build.sh"
    startCommand: "gunicorn src.pokemon_api.pokemon_api.wsgi:application"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 2
      - key: DJANGO_SUPERUSER_PASSWORD
        generateValue: true